@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --transition: 0.3s;
  --text-color: #aeaeae;
  --green-color: #8bc34a;
  --textColor: #333333;
  --lightBgGreen: #f6ffec;
  --lightGreen: #8bc34a;
  --lightGray: #f6f6f6;
  --bgGreen: #6a9739;
  --bgDanger: #ff0000;
  --bgDarkDanger: #9f0000;

  --bgGreenDark: #5a8b25;
  --white: #fff;
  --bgProducts: #f8f6f3;
}
Link {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
  color: var(--text-color);
  transition: var(--transition);
  padding: 0;
}
.link:hover {
  color: #fff;
}

/* End Global Components  */
